{% extends "layout.html" %}
{% block body %}
<div style="align-content: center; width: 70%; margin: auto; margin-top: 20px;">
    <form method="post" action="{{url_for('top.register')}}">
        <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" class="form-control" id="username" aria-describedby="username-help" name="username"
                   placeholder="Enter user name">
            {% if error_message %}
            <small id="username-help" class="form-text text-muted">{{ error_message }}</small>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="password1">Input password</label>
            <input type="password" class="form-control" id="password1" placeholder="Password" name="password">
        </div>
        <div class="form-group">
            <label for="password2">Input password again</label>
            <input type="password" class="form-control" id="password2" placeholder="Password" name="password_again">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


{% endblock %}
