[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
scikit-learn = "*"
flask-sqlalchemy = "*"
pymysql = "*"
flask-script = "*"
gensim = "*"
janome = "*"
python-twitter = "*"
jupyter = "*"
cython = "*"

[requires]
python_version = "3.5.1"

[dev-packages]

[scripts]
start = 'python server.py runserver --debug'
init_db = 'python server.py init_db'
